<!DOCTYPE HTML>
<html>
<head>
	<title>Spring Security Tutorial</title>	
	<!-- Main Quill library -->
	<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
	
	<!-- Theme included stylesheets -->
	<link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">	
	
<body> 	 	
    <div th:insert="fragments/header :: header"></div>
    <div class="container">
    <div class="starter-template">
				<h1>New Topic</h1>
				
				<div class="card">
				  <div class="card-header">	
				  </div>
				  <div class="card-body">
				  <div id="form-container" class="container">
				    <form  th:object="${topic}" method="post">
					        <div class="row form-group">
					        <div class="form-group">
						    	<label for="name">Title</label>
						    	<input type="text" required th:field="*{name}" class="form-control" id="name" placeholder="name">
						    </div>
						      <label for="message">Message</label>
						      <input type="hidden" th:field="*{message}" value="" name="message" id="message"/>
						      <div id="editor-container">
						      </div>
						    </div>				  
					   <button type="submit" class="btn btn-primary">Submit</button>
					   <p th:text="${successMessage}"></p>						  
					</form>
					</div>
				</div>
				
			</div>
		</div>
		</div>
    <div th:insert="fragments/footer :: footer"></div>
    <script type="text/javascript">
    var quill = new Quill('#editor-container', {
  	  modules: {
  		  toolbar: [
  		  ['bold', 'italic', 'underline', 'strike'],        // toggled buttons

  		  [{ 'header': 1 }, { 'header': 2 }],               // custom button values
  		  [{ 'list': 'ordered'}, { 'list': 'bullet' }],
  		  [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
  		  [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
  		  [{ 'direction': 'rtl' }],                         // text direction

  		  [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
  		  [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

  		  [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
  		  [{ 'font': [] }],
  		  [{ 'align': [] }],

  		  ['clean'],                                     // remove formatting button
  		  ['image']
  		  ]
  	  },
  	  theme: 'snow'
  	});

    quill.on('text-change', function() {
    	  var about = document.querySelector('input[name=message]');
	       about.value = quill.root.innerHTML;
    	});    
    
    </script>
</body>
</html>