<!DOCTYPE HTML>
<html>
<head>
	<title>Spring Security Tutorial</title>
</head>
<body>
    <div th:insert="fragments/header :: header"></div>
    <div class="container">
    <div class="starter-template">
				
				
				<div class="card  mt-4 ">
				  <div class="card-header">	
				  <h2>Update profile</h2>
				  </div>
				  <div class="card-body pb-2">
				    <form action="/myprofile" th:object="${user}" method="post" enctype="multipart/form-data">
				    
					     <div class="form-group">
					    	<label for="age" >Age</label>
					    	<input type="number" th:field="*{age}" class="form-control" id="age" placeholder="Your Age">
					    </div>
					    
					    <div class="form-group">
					    	<label for="bio" >Bio</label>
					    	<textarea th:field="*{bio}" class="form-control" id="bio" placeholder="Your Bio"></textarea>
					    </div>		
					     <div class="form-group">
					    	<label for="signature" >Signature</label>
					    	<input type="text" th:field="*{signature}" class="form-control" id="signature" placeholder="Your Signature">
					    </div>	
					    
					  <div class="form-group">
						    <label for="imageFile">Choose a profile picture</label>
						    <input type="file" class="form-control-file" id="imageFile" name="imageFile"  accept="image/png, image/jpeg">
						  </div>
						  <img class="imgForum pb-2" th:src="@{/{userId}/image(userId=${user.id})}" alt="user_Image"/>
					   <button type="submit" class="btn btn-primary form-control">Submit</button>
				   </form>
				   
				   <p th:text="${successMessage}"></p>
						  
				</div>
				
			</div>
		</div>
		</div>
    <div th:insert="fragments/footer :: footer"></div>
    
</body>
</html>