<!DOCTYPE HTML>
<html>
<head>
	<title>Spring Security Tutorial</title>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <div th:insert="fragments/header :: header"></div>
    <div class="container">
    <div class="starter-template">
				<h1 th:text="${user.name}"></h1>
				
				<div class="card">
				  <div class="card-header">	
				  </div>
				  <div class="card-body">
				    <div>Age :</div><div th:text="${user?.age}"></div>
				    <div>Bio :</div><div th:text="${user?.bio}"></div>
					<div>Number of messages posted :</div><div th:text="${user?.nbPostedMessage}"></div>
				    
				</div>
				
			</div>
		</div>
		</div>
    <div th:insert="fragments/footer :: footer"></div>
    
</body>
</html>