<!DOCTYPE HTML>
<html>
<head>
	<title>Spring Security Tutorial</title>
</head>
<body>
    <div class="flex-wrapper">

    <div th:insert="fragments/header :: header"></div>
    
    <div class="container"> 
				<div class="card mt-4">
				  <div class="card-header">	
				  <h1>Profile of <span th:text="${user?.name}"></span></h1>
				  </div>
				  <div  class="">
				  <div class="card-body container">
				  <img th:if="${user.image}" th:src="@{/{userId}/image(userId=${user.id})}" alt="user_Image" class="img-thumbnail imgForum mr-4 float-left mb-3"/>
				  <img th:unless="${user.image}"  th:src="@{/img/default.jpg}" alt="user_Image" class="img-thumbnail imgForum mr-4 float-left mb-3" />		  
				  <div class="list-group">
					    <div class="row">
					   <h5 class="col-6 col-sm-5">Age :</h5><h5 class="col-md-auto" th:text="${user?.age}"></h5>
				    	</div>
	  			 </div>	  			
	  			  <div class="list-group">
	  			  	<div class="row">
					   <h5 class="col-6 col-sm-5">Signature :</h5><h5 class="col-md-auto" th:text="${user?.signature}"></h5>
				    	</div>
				    </div><!-- 
				    <div class="list-group">
	  			  	<div class="row">
					   <h5 class="col-6 col-sm-5">Posted Messages :</h5><h5 class="col-md-auto" th:text="${user?.nbPostedMessage}"></h5>
				    	</div>
				    </div> -->
				     <div class="list-group">
					    <div class="row">
					   <h5 class="col-6 col-sm-5">Bio :</h5><h5 class="col-md-auto" th:text="${user?.bio}"></h5>
				    	</div>
	  			 </div>
	  			 </div>
	  			 
	  			 </div>    
				</div>
				
		</div>
		
    <div th:insert="fragments/footer :: footer"></div>
    		</div>    
    
</body>
</html>